ul {
    list-style-type: none;
    background-color: #e8e8e8;
    padding-inline-start: 0px;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3px;
    background-color: #ffffff;
    height: 60px;
    padding-left: 20px;
}

.text {
    padding-left: 50px;
}

.loader{
    text-align: center;
}