.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-image {
    position:relative;
    display: block;
    background-color: transparent;
    justify-content: center;
}

.fade-in {
    transition: opacity ease;
}

.fade-out{
    opacity: 0;
    transition: opacity  ease;
}